.profile {
    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.875rem;
    
        @include breakpoint-up(medium){
            grid-template-columns: repeat(1, 1fr);
        }
    
        @include breakpoint-up(large){
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__item {
        border-radius: 0.3125rem;
        overflow: hidden; //show the rounded corners
        box-shadow: 0px 3px 12px rgba(0,0,0,0.15);
        background-color: white;
        transition: all 150ms ease-in-out;
        &:hover {
            transform: scale(1.05);
        }
        margin: auto;
    }

    &__picture {
        display: inline-block;
        position: relative;
        width: 25rem;
        height: 25rem;
        overflow: hidden;
        border-radius: 50%;
        margin-top: 1.875rem;

        img {
            width: auto;
            height: auto;
            margin-left: -4.0625rem;
          }

        @include breakpoint-down(small){
            width: 18.75rem;
            height: 18.75rem;

            img {
                margin-left: -7.5rem;
                margin-top: -3.125rem;
              }
        }
    }

    &__text {
        padding: .75rem;
        margin: 1.25rem;
    }
}

